# Ignore a specific file
secret.txt
Miniconda3-latest-Linux-x86_64.sh
vindr.zip

# Ignore files in a specific directory
/data/
/DB/
/local_chat_history/
/__pycache__/
/evaluated/
/evaluated_1/
/evaluated_2/
/evaluated_3/
/evaluated_old/
/GROUND-TRUTH-REPORTS/
/chroma/
/chromaDB/
/results_old/
/vindr/
/evaluated-vindr/
mistral_vindr_base.txt
qwen2.5_vindr_base.txt
mixtral_vindr_base.txt
/logs/
vindr-codes/__pycache__
