# Ignore a specific file
secret.txt
Miniconda3-latest-Linux-x86_64.sh

# Ignore files in a specific directory
/data/
/DB/
/local_chat_history/
/__pycache__/
/evaluated/
/evaluated_1/
/evaluated_2/
/evaluated_3/
/evaluated_old/
/GROUND-TRUTH-REPORTS/
/chroma/
/chromaDB/
/results_old/
/vindr/